<div class="container" style="width: 100%; color: #000">
  <div class="container p-5 bg-light bg-gradient">
    <img
      src="https://dl.dropboxusercontent.com/s/qjfv7i6oagndoy9/logo.png?dl=0"
      width="50%"
      alt=""
    />
  </div>
  <div class="container p-5 bg-danger bg-gradient">
    <h2>You have received a new message from school site</h2>
    <div class="col-md-7 p-2">
      <table class="table">
        <tr class="table-dark">
          <td>Name</td>
          <td>{{name}}</td>
        </tr>
        <tr class="table-secondary">
          <td>Email</td>
          <td>{{email}}</td>
        </tr>
        <tr class="table-info">
          <td>Phone</td>
          <td>{{phone}}</td>
        </tr>
        <tr class="table-danger">
          <td>Message</td>
          <td>{{phone}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
